<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461609526675-tgufcsf57np5r62h6k389cov9etmrlns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461609526675-tgufcsf57np5r62h6k389cov9etmrlns</string>
	<key>API_KEY</key>
	<string>AIzaSyD9mvq-nluvo-xBChky87_u4yM-FSRPYpE</string>
	<key>GCM_SENDER_ID</key>
	<string>461609526675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diana.Quizzler</string>
	<key>PROJECT_ID</key>
	<string>quizzapp-71f55</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzapp-71f55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461609526675:ios:bd09d2eb250267ceaaf466</string>
	<key>DATABASE_URL</key>
	<string>https://quizzapp-71f55.firebaseio.com</string>
</dict>
</plist>